
.create-form {
    margin: 20px 10px 20px 10px;
}

form.create-form .form-group {
    margin-bottom: 35px;
}

form .form-group span.help-block {
    margin-bottom: 0px;
}

form textarea.form-control {
    resize: vertical;
    height: 100px;
}

.create-user-repo {
    color: #525252;
    margin-bottom: 0px;
    padding: 5px 30px;
}

.create-user-repo:hover {
    cursor: pointer;
    color: #1b1b1b;
    background-color: #f8f8ff;
}

.create-input-glow {
    border-color: #66afe9;
    box-shadow: 0 0 10px #95e9ff;
}

#remove-icon-github-link {
    cursor: pointer;
}