body {
    padding-top: 50px;
}

.wc {
    display: flex;
    box-shadow: 0px 0px 10px rgb(199, 199, 199);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(199, 199, 199);
    border-radius: 3px;
}

.wc-container {
    padding: 8px;
}

.wc-image-container {
    flex: 1;
}

.wc-image {
    width: 100%;
}

.wc-text {
    flex: 3;
    padding-left: 10px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wc-title {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.wc-description {
}

.icon-github {
    width: 28px;
    height: 28px;
    position: absolute;
    right: 10px;
    top: 12px;
    color: #000000;
}

.github-tooltip {
    width: 28px;
    height: 28px;
    display: inline-block;
    position: relative;
    top: -26px;
    right: 2px;
}
