@media only screen and (min-width: 768px) {
    #list-sorting-selector {
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .list-sorting-tooltip {
        right: 0;
        top: -17px;
        height : 0;
    }
}

@media only screen and (max-width: 768px) {
    .list-sorting-tooltip {
        left: 16px;
        top: -16px;
        font-size: 0.9em;
    }
}

.list-toolbar-component {
    margin: 5px 0;
}

#list-toolbar {
    margin-top: 20px;
    margin-left: 10px;
}

#list-infinite-container {
    display: inline-block;
    width: 100%;
}

.list-sorting-tooltip {
    position: absolute;
    font-weight: bold;
    margin-right: 20px;
}

.list-detail-sorting-tooltip {
    display: none;
}

.list-body {
    display: inline-block;
    width: 35%;
}

#list-detail-view {
    display: inline-block;
    width: 65%;
    vertical-align: top;
}

.list-detail-sorting-selector {
    position: relative;
    top: 40px;
    right: -10px;
}