<div class="wc" ng-init="hovering = false" ng-mouseover="hovering = true" ng-mouseleave="hovering = false">
    <div class="wc-image-container">
        <a ng-show="wcClickable" ui-sref='app.list.detail({id:wc.id})' ng-click="selectWC.fn(wc)">
            <img ng-src="{{wc.imageLink}}" class="wc-image"/>
        </a>
    </div>
    <div class="wc-text">
        <a ng-show="wcClickable" ui-sref='app.list.detail({id:wc.id})' ng-click="selectWC.fn(wc)">
            <h3 class="wc-title" ng-class="{'hovering':hovering}">
                {{wc.name}}
            </h3>
        </a>
        <a ng-show="!wcClickable">
            <h3 class="wc-title" ng-class="{'hovering':hovering}">
                {{wc.name}}
            </h3>
        </a>
        <a ng-show="wcClickable" ui-sref='app.list.detail({id:wc.id})' ng-click="selectWC.fn(wc)">
            <p class="wc-description" ng-class="{'hovering':hovering}">
                {{wc.description}}
            </p>
        </a>
    </div>
    <a href="{{(wcClickable)? wc.githubLink : ''}}" target="_blank">
        <div class="fa fa-github fa-2x icon-github">
            <div class="github-tooltip" tooltip="GitHub repo">
            </div>
        </div>
    </a>
    <a href="{{(wcClickable)? wc.githubLink + '/archive/master.zip' : ''}}" target="_blank">
        <div class="fa fa-download fa-2x icon-download">
            <div class="github-tooltip" tooltip="Download from Github Master">
            </div>
        </div>
    </a>
</div>