<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">WebPuzzle</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Search Components</a></li>
                <li><a href="#contact">Account</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="btn-group">
        <button ng-repeat="sortingType in sortingTypes" type="button" class="btn btn-primary" ng-model="selectedFilter.filterExpr" btn-radio="sortingType.filter">{{sortingType.name}}</button>
    </div>
    <div>
        <div class="input-group col-sm-6 col-md-4 col-lg-3">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" ng-model="filter.text" placeholder="Filter by name">
        </div>
    </div>
    <br/><br/>

    <div ng-repeat="wc in webcomponents | filter:filter.text | orderBy:selectedFilter.filterExpr"
         class="wc-container col-sm-6 col-md-4 col-lg-3">
        <div class="wc">
            <div class="wc-image-container">
                <img ng-src="{{wc.imageLink}}" class="wc-image"/>
            </div>
            <div class="wc-text">
                <h3 class="wc-title">{{wc.name}} </h3>
                <a href="{{wc.githubLink}}" target="_blank"><div class="fa fa-github fa-2x icon-github" tooltip="Go to GitHub repo"></div> </a>

                <p class="wc-description">{{wc.description}}</p>
            </div>
        </div>
    </div>
</div>