<div ng-class="{list : '', detail : 'list-body'}[viewMode.state]">
    <div id="list-toolbar">
        <!-- Sorting selector -->
        <div ng-class="{list : 'col-sm-4', detail : 'list-detail-sorting-selector'}[viewMode.state]">
            <div ng-class="{list : 'list-sorting-tooltip', detail : 'list-detail-sorting-tooltip'}[viewMode.state]">
                {{sortingTooltip.text}}
            </div>
            <div ng-mouseleave="sortingTooltip.text = ''" class="btn-group list-toolbar-component" id="list-sorting-selector">
                <button title="{{(viewMode.state === 'list') ? '' : sortingTooltip.text}}" ng-repeat="sortingType in sortingTypes" type="button" ng-mouseover="sortingTooltip.text = sortingType.name"
                        class="btn btn-primary" ng-model="selectedSorting.sortingFilterExpr" btn-radio="sortingType.filter">
                    <i ng-class="sortingType.iconCss" ></i>
                </button>
            </div>
        </div>
        <!-- Text input to filter by name and author -->
        <div ng-class="{list : 'col-sm-4', detail : ''}[viewMode.state]">
            <div class="input-group list-toolbar-component">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="filter.text" placeholder="Filter by name">
            </div>
        </div>
        <!-- Filter selector, by name of author -->
        <div ng-class="{list : 'col-sm-4', detail : ''}[viewMode.state]">
            <div class="btn-group list-toolbar-component">
                <button ng-repeat="filterType in filterTypes" type="button"
                        class="btn btn-primary" ng-model="selectedFilterType.filter" btn-radio="filterType.filter">
                    {{filterType.name}}
                </button>
            </div>
        </div>
    </div>

    <!-- WebComponent list -->
    <div infinite-scroll="addMoreComponents()" infinite-scroll-distance='1' ng-class="{list : 'list-infinite-container', detail : 'list-detail-infinite-container'}[viewMode.state]">
        <div ng-repeat="wc in webcomponents | filter:filter.filterObject | orderBy:selectedSorting.sortingFilterExpr | limitTo:wcNumberLimit"
             class="wc-container repeat-item" ng-class="{list : 'col-md-6 col-lg-4', detail : ''}[viewMode.state]">
            <web-component/>
        </div>
    </div>
</div>

<div ng-class="{list : '', detail : 'list-detail-view'}[viewMode.state]">
    <div ui-view ></div>
</div>